.wrapper{
    min-height: 100vh;
    height: 100%;
    background-color: #1d2d3c;
    color: white;
}

main{
    position: relative;
}

header{
    height: 75px;
    background-color: #06131f;
}

img{
    max-width: 100%;
}

.logo i{
    font-size: 2.7rem;
    color: #18d860 ;
}

.card-wrapper{
    gap: 60px;
}

.rl-card{
    position: relative;
    width: 280px;
    background-color: #112030;
    border-radius: 10px;
    padding:20px 20px;
    cursor: pointer;
}

.box-img{
    height: 230px;
}

.box-img img{
    object-fit: cover;
    border-radius: 50%;
    height:230px;
}

.text{
    padding-top: 20px;
}

.text h3{
    font-size: 1.2rem;
    font-weight: bolder ;
}

.text h3:last-child{
    font-size: 1rem;
}

.info{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
    background-color: #112030cc;
    border-radius: 25px;
    padding: 50px;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
}

.close i{
    font-size: 2.5rem;
    color: aliceblue;
    cursor: pointer;
}

.close i:hover{
    color: rgb(199, 207, 214);
}

.btn.rl-btn{
    background-color: rgb(214, 40, 40);
    color: white;
}

.info-img{
    width: 350px;
    height: 350px;
    margin-top: 200px;
}

.add-section i{
    position: absolute;
    right: -440px;
    top: 0;
    font-size: 1.5rem;
}

.add-section{
    background-color: #112030ec;
    width: 900px;
    border-radius: 20px;
    position: absolute;
    top: -365px;
    left: -100%;
    display: flex;
    justify-content: center;
}

.add-album{
    background-color: white;
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.add-album i{
    color: #18d860;
    font-size: 4rem;
    text-align: center;
    line-height: 220px;

}

.row.rl-row{
    width: 50%;
}