.wrapper{
    min-height: 100vh;
    height: 100%;
    background-color: #1d2d3c;
    color: white;
}

main{
    position: relative;
}

header{
    height: 75px;
    background-color: #06131f;
}

img{
    max-width: 100%;
}

.logo i{
    font-size: 2.7rem;
    color: #18d860 ;
}

.card-wrapper{
    gap: 60px;
    position: relative;
}

.rl-card{
    width: 280px;
    background-color: #112030;
    border-radius: 10px;
    padding:20px 20px;
    cursor: pointer;
}

.box-img{
    height: 180px;
}

.box-img img{
    object-fit: contain;
    height: 180px;
}

.text{
    padding-top: 20px;
}

.text h3{
    font-size: 1.2rem;
    font-weight: bolder ;
}

.text h3:last-child{
    font-size: 1rem;
}

.info{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #112030cc;
    border-radius: 25px;
    padding: 50px;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
}

.close i{
    font-size: 2.5rem;
    color: aliceblue;
    cursor: pointer;
}

.close i:hover{
    color: rgb(199, 207, 214);
}

.info-img{
    width: 350px;
    height: 350px;
}

.add-section{
    background-color: #112030;
    border-radius: 20px;
    height: 100%;
}

.row.rl-row{
    width: 25%;
}